<div class="banner">
  <div class="balance-info">
    <div class="label">Total Balance</div>
    <div class="amount">${{ totalBalance() | number : '1.2-2' }}</div>
    <div class="actions">
      <button class="btn-transfer" (click)="onTransfer()">
        <span> <i class="fa-solid fa-money-bill-transfer"></i></span>
        Transfer Funds
      </button>
      <button class="btn-history" (click)="onViewHistory()">
        <span><i class="fa-solid fa-clock-rotate-left"></i></span>
        View History
      </button>
    </div>
  </div>
</div>
